@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Playfair Display", serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background: linear-gradient(to right, rgb(0, 195, 255), blue);
    padding: 0 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav a{
   color: #fff !important;
   font-weight: 600;
}
.logo{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    margin-left: 12px;
    padding: 10px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgba(52, 38, 38, 0.831), rgb(0, 0, 0)); 
    padding: 10px;
    border-radius: 5px;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
}
/*------------------services------------------*/
#services{
    padding-top: 3%;
    background: linear-gradient(to right, rgb(0, 195, 255), blue);
}
.title{
    font-size: 26px;
    text-align: center;
    text-transform: capitalize;
}
.title p{
    font-weight: 800;
}
.viewIcon i{
    font-size: 25px;
    padding: 0 10px;
    margin: 5px;
    color: #000;
}
.viewIcon{
    font-size: 19px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    text-decoration: underline;
}
.bottom-img{
    width: 100%;
}
/*-----------------------------about-------------------------------*/

.aboutElegence, ol li{
    font-size: 18px;
    font-weight: 700;
    margin-top: 8%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
 word-spacing: 3px;
}
#about{
    background: #ffffff;
}
/*-----------------------------products------------------------------*/
#img{
    width: 100%;
    padding: 19px;
}
#AboutHeader{
    text-align: center;
    font-size: 2.4em;
    text-transform: capitalize;
}
.star-rating {
    display: flex;
    direction: row;
    flex-direction: row-reverse;
}
.star {
    font-size: 2em;
    color: #d3d3d3;
    cursor: pointer;
    font-size: 2em;
    cursor: pointer;
    padding: 5px;
}

.star:hover,
.star:hover ~ .star {
    color: #000000;
}
.star.selected {
    color: black; /* Color for selected stars */
}
#card{
    padding: 5px;
}
.card-text.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
#ontainer{
        padding-top: 8%;
        background: linear-gradient(to right, rgb(0, 195, 255), blue);
}
/*-----------------------------------go to section-----------------------------------*/
.image-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  }
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gotoAction{
    font-size: 2.7em;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
  }
  .btn{
    text-transform: capitalize;
}
  /*------------------------------------------card slide ------------------------------------------*/
  .cardSlide{
    margin-top: 40px;
    margin-bottom: 20px;
    }
    .left-text {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        color: white;
        text-align: left;
      }
/*--------------------social media---------------*/
#socail-media{
    background: #f8f9fa;
    padding: 100px 0;
    }
    #social-media p{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .social-icons img{
        width: 60px;
        transition: 0.5s;
    }
    .social-icons a:hover img{
        transform: translateY(-10px);
    }
    
/*--------------footer section------------*/
#footer{
    background: linear-gradient(to right, rgb(0, 195, 255), blue);
    color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
} 
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none;
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
 
    background: linear-gradient(to right, rgb(0, 195, 255), blue);
}

.copy-write{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

/*----------------------------------testimonials---------------------*/
#testimonials{
    margin: 100px 0;
}
.testimonials{
    border-left: 4px solid #0004ff;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0  10px;
}
.user-details{
    display: inline-block;
    font-size: 12px;
}
/*shop.html*/
/*-------------------------cart------------------------------*/
.content-price{
    font-size: 23px;
    font-weight: 500;
}
.button{
    float: right;
    border:1px solid #000000;
     background: #000;
     color: #fff;
     margin-right: 5px;
}
.button:hover{
    cursor: pointer;
    background: #222020;
    color: #eee;
}
.cart-items{
    width: 100%;
    flex-wrap: wrap;
}
.section-header{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3.5em;
}
.cart-row {
    display: flex;
}
.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}
.cart-item {
    width: 45%;
    font-weight: 700;
    font-size: 24px;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.2em;
    margin-top: 10px;
}

.cart-total {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    height: fit-content;
    background-color: #2c3e50;
}

.cart-total-title {
    font-weight: bold;
    font-size: 2.5em;
    color: white;
    margin-right: 20px;
    padding: 11px;
}

.cart-total-price {
    color: white;
    font-size: 1.8em;
    padding: 10px;
}
.btn-danger {
    border-radius: .3em;
    background-color: red;
    color: white;
    font-size: 1.4em;
    float: right;
}
.btn-danger:hover{
    cursor: pointer;
    background: rgba(255, 0, 0, 0.8);
}

.btn-background {
        display: block;
        margin: 40px auto 80px auto;
        font-size: 1.75em;
    
}
.btn-purchase{
background-color: red;
border-radius: 5px;
border: 1px solid black;
padding: 5px;
display: block;
margin: 40px auto 80px auto;
font-size: 1.75em;

}
.btn-purchase:hover{
    cursor: pointer;
    border-bottom: 5.8px solid black;
    border-right: 3.8px solid black;
    border-top: none;
    transform: scale(1.06);
    font-style: italic;
}
.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price{
    width: 15%;
    font-weight: 700;
    font-size: 24px;
}

.cart-quantity {
    width: 35%;
    font-weight: 700;
    font-size: 24px;
}
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.iconContainer {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    position: fixed; 
    top: 10px;
    right: 10px; 
    z-index: 1000;
}

.fa-cart-shopping, .fa-moon, .fa-sun {
    color: black;
    font-size: 1.8em;
    padding: 7px;
    margin: 10px;
    
}
.fa-cart-shopping:hover{
    cursor: pointer;
    transform: translateY(2px);
    transform: scale(1.5);
}

.block{
    color: #0004ff;
}



@media (max-width: 1000px) {
    .star-rating {
        width: 100%;
        justify-content: center;
    }
    .star {
        font-size: 1.7em;
        color: #d3d3d3;
        cursor: pointer;
        padding: 5px;
    }
    .content-price{
        font-size: 18px;
        font-weight: 500;
    }
    .button{
        width: fit-content;
        float: right;
         margin-right: 5px;
         font-size: 16px;
         padding: 4px;
    }
}
@media (max-width: 768px) {
    .star-rating{
        justify-content: center;
    }
    .star {
        font-size: 14px;
        color: #d3d3d3;
        cursor: pointer;
        padding: 5px;
    }
    .gotoAction{
        font-size: 1.7em;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
      }
      /*------------content price -----------*/
      .content-price{
        font-size: 16px;
        font-weight: 400;
        font-family: serif;
    }
    .button{
        width: fit-content;
        float: right;
         margin-right: 5px;
         font-size: 16px;
         padding: 4px;
    }
    .card-title{
        font-size: 16px;
    }
    .section-header{
        font-size: 3em;
    }
    .cart-item, .cart-price, .cart-quantity {
        font-size: 20px;
    }
    .cart-item-title {
        color: #000000;
        font-size: 1em;
    }
    
    .cart-item-image {
        width: 55px;
        height: auto;
        border-radius: 10px;
    }
    .cart-quantity-input {
        font-size: 1em;
    }
    .removebtn{
font-size: 19px;
  padding: 4px;
    }
    .cart-total-title {
        font-size: 2em;
        margin-right: 20px;
        padding: 8px;
    }
    .card{
        width: 106px;
    }
}
@media (max-width: 576px) {
    .star-rating{
        width: fit-content;
        justify-content: center;
      
    }
    .star {
        font-size: 12px;
        color: #d3d3d3;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
    }
    .gotoAction{
        font-size: 16px;
      }
      #AboutHeader{
        font-size: 1.3em;
    }
    #img{
        width: 50px;
        padding: 0px;
        align-self: center;
    }
    .card-title{
        font-size: 12px;
    }
    .aboutElegence, ol li{
        font-size: 16px;
        font-weight: 400;
        margin-top: 5%;
        font-family: serif;
        font-optical-sizing: auto;
        font-style: normal;
     word-spacing: 0px;
    }
    #btn{
        font-size: 16px;
        width: fit-content;
        padding: 3px;
    }
    .content-price{
        font-size: smaller;
        font-weight: 400;
        font-family: serif;
    }
    .button{
         margin-right: 5px;
         font-size: smaller;
         padding: 2px;
    }
    .card-title{
        font-size: small;
        flex-wrap: wrap;
    }
    .section-header{
        font-size: 1.8em;
    }
    .cart-item, .cart-price, .cart-quantity {
        font-size: 18px;
    }
    .removebtn{
font-size: 19px;
  padding: 4px;
    }
    .cart-total-title {
        font-size: 1.3em;
        margin-right: 10px;
        padding: 4px;
    }
    .cart-total-price{
font-size: 19px;
    }
}
@media (max-width: 425px) {
    .card{
        border: 1px solid black;
        padding: 10px;
        box-sizing: border-box; /* Includes padding and border in the element's total width and height */
        text-align: center;
    }
}
@media (max-width: 375px) {
    .name{
        font-size: 16px;
    }
    .cart-item-price{
        font-size: 16px;
    }
    .cart-quantity-input {
        height: 34px;
        width:40px;
        font-size: 1.2em;
        margin-right: 16px;
    }
    .card{
        width: 106px;
    }
}
@media (max-width: 320px) {
    .gotoAction{
        font-size: 13px;
      }
      #btn{
        font-size: 13px;
        width: fit-content;
        padding: 3px;
    }
   
    .button{
        margin-right: 5px;
        font-size: small;
        padding: 2px;
   }
}